Repository vegaprotocol/specs, pull requests merged in 2024-02, with the labels that each got.

#2156 feat: add minBalance parameter
  protocol/0062-SPAM-spam_protection.md
Labels: 📧 Spam Protection, referral

#2157 chore: add teams spam protection
  protocol/0062-SPAM-spam_protection.md
  protocol/features.json
Labels: 📧 Spam Protection, referral

#2159 chore: add update team spam ACs
  protocol/0062-SPAM-spam_protection.md
  protocol/features.json
Labels: 📧 Spam Protection, ac-code-remediation, referral

#2173 feat: update fees on auction exit AC
  protocol/0080-SPOT-product_builtin_spot.md
  protocol/cosmic-features.json
Labels: spot, ac-code-remediation

#2182 feat: clarify and add ac for gov suspend and resume
  protocol/0028-GOVE-governance.md
  protocol/features.json
Labels: governance, ac-code-remediation

#2163 Add spot ACs from cosmic
  protocol/0004-AMND-amends.md
  protocol/0010-MARG-margin_orchestration.md
  protocol/0019-MCAL-margin_calculator.md
  protocol/0020-APIS-core_api.md
  protocol/0026-AUCT-auctions.md
  protocol/0031-ETHB-ethereum_bridge_spec.md
  protocol/0080-SPOT-product_builtin_spot.md
  protocol/features.json
Labels: spot

#2149 feat: changeable market tick size
  protocol/0001-MKTF-market_framework.md
  protocol/0004-AMND-amends.md
  protocol/0025-OCRE-order_submission.md
  protocol/0028-GOVE-governance.md
  protocol/0037-OPEG-pegged_orders.md
  protocol/colosseo-features.json
  protocol/features.json
Labels: specs

#2187 feat: remove tick size validation
  protocol/0028-GOVE-governance.md
  protocol/colosseo-features.json
  protocol/features.json
Labels: ac-code-remediation

#2186 feat: add ac for taker fee cap in spec 0057
  protocol/0057-TRAN-transfers.md
  protocol/features.json
Labels: ac-code-remediation
